@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --body-fonts : "Open Sans", sans-serif;

    /*==========Brand Colors ==========*/
    --brand-primary-color:  #581c87;      
    --brand-secondary-color: #a855f7;  
    --tertairy-color: #c8fffd;    
    --accent-color-yellow: #ffb836;
    --accent-color-green: #56cdad;  
    --accent-color-red: #ff6550 ;
    --accent-color-blue: #26a4ff;
    --accebt-color-purple: #7b61ff;     
    --background-color: #f8f8fd;   

    /*========== Nautrals Colors ==========*/

    --text-color: #25324b;  
    --text-color-100: #25324b;      
    --text-color-80: #515b6f; 
    --text-color-60: #7c8493; 
    --text-color-40: #a8adb7; 
    --text-color-20: #e4e5e7; 
    --text-color-10: #f9fafc; 
    --text-color-zero: #f8f8fd; 

     /*========== Heading Fonts size ==========*/
     --heading-1 : 72px;
     --heading-2 : 48px;
     --heading-3 : 32px;
     --heading-4 : 24px;
     --heading-5 : 20px;

       /*========== Body Fonts size ==========*/
    --body-xlarge:20px;
    --body-large:18px;
    --body-normal:16px;
    --body-small :14px;



}
body{
    font-family: var(--body-fonts);
    background-color: var(--text-color-20);
}

/*========== H1H2H3H4=========*/
h1,h2,h3,h4,h5{
    font-family: var(--body-fonts);
    line-height: 120%;
}
h1{
    font-size: var(--heading-1);
    font-weight: bolder;
}
h2{
    font-size: var(--heading-2);
    font-weight: bold;
}
h3{
    font-size: var(--heading-3);
    font-weight: 600;
}
h4{
    font-size: var(--heading-4);
    font-weight: 600;
}
h5{
    font-size: var(--heading-5);
    font-weight: 600;
}



header{
   
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container{
    max-width: 1039px;
    margin-inline: 1.5rem;
    align-self: center;
    margin: auto;
}

.nav{   
    position: relative;
    padding: 10px 0;
    display: flex;
    
   
}


.nav-menu{
  
    align-items: center;
    column-gap: 4rem;
    justify-content: space-between;
    display: flex;
    position: relative;
}
.nav-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-logo img{
    width: 28px;
}
.nav-list{
    position: relative;
    display: flex;
    text-align: center;
    column-gap: 3rem;
}
.nav-list-button{
    align-items: center;
    padding-right: 10px;
    position: relative;
    display: flex;
    text-align: center;
    column-gap: .5rem;
}
.nav-list-button li a:hover{
  text-decoration: underline;
}

.bar{
    width: 1px;
    height: 18px;
    background-color:#d1e1f4;;
}

.nav-link{
    text-align: center;
    color: var(--text-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--brand-primary-color);
    position: absolute;
    bottom: -1rem;
    left: 0px;
    transition: width .5s;
}
.nav-link:hover::after{
    width: 100%;
}

.nav-link-active{
    text-align: center;
    color: var(--text-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.nav-link-active::after{
    content: "";
    width: 80%;
    height: 2px;
    background: var(--brand-primary-color);
    position: absolute;
    bottom: -1rem;
    left: 0px;
    transition: width .5s;

}
.nav-link-active:hover:after{
    
    width: 100%;
    
    
}
.nav-link-button{
    text-align: center;
    color: var(--brand-primary-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
}

.menu-logo{
    display: none;
    position: relative;
    font-size: var(--heading-4);
    padding-top: 10px;
    padding-right: 20px;
}
.menu-mobile{
    display: none;
}


/* Navigation for mobile devices */
@media screen and (max-width:580px){
    .nav{
        justify-content: space-between;
    }

    .menu-logo{
        display: block;
    }
    .nav-button{
       display: none;
    }
    .menu-mobile{
        background-color: var(--background-color);
        margin: 10px 20px 20px 10px;
        top: 50px;
        width: 100%;
        position: absolute;
        display: block;
    }
    .nav-list{
        display: grid;
        justify-content: start ;
        row-gap: 12px;
    }
    .nav-link{
        
        position: relative;
        width: 200px;
        background-color: red;
        left: 20px;
        text-align: start;
        font-size: var(--body-small);
    }
    
}